* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {

    background: url('../images/3562995-восстановлено_01.png')no-repeat center center;
    background-size: cover;
}

header nav {
    padding-top: 25px;
}

header nav .logo h5 {
    font-size: 25px;
    color: #ffffff;

}

header nav ul li a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a .fa-search {
    font-size: 25px;
}

header nav ul li a {
    transition: 300ms;
}

header nav ul li a:hover {
    color: #ffc200;
}

header .txt {
    padding-top: 140px;
    padding-bottom: 230px;

}

header .txt p {
    font-size: 23px;
    color: #ffffff;
    margin-bottom: 82px;
    font-weight: 400;
}

header .txt h3 {
    font-size: 100px;
    color: #ffc200;
    margin-bottom: 50px;
    font-family: 'Grand Hotel';
}

header .txt .btn-primary {
    color: #333333;
    font-size: 19px;
    font-family: 'Montserrat';
    background-color: #ffc200;
    border-color: #ffc200;
    width: 245px;
    height: 50px;
}

section .text h5 {
    font-size: 70px;
    color: #333333;
    font-family: 'Grand Hotel';
    margin-top: 130px;
    margin-bottom: 40px;
}

section .text p {
    font-size: 20px;
    color: #333333;
    margin-bottom: 0;
}

section .imgcard {
    margin-top: 78px;
    margin-bottom: 320px;
}

section .imgcard h5 {
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 18px;
    font-family: 'Grand Hotel';
}

section .imgcard p {
    margin-bottom: 0;
    font-size: 17px;
}

section .group .taste {
    padding-top: 130px;
}
section .section_txt{
    background:url('../images/3562995_02_02.png') no-repeat center center;
    background-size: cover;
}
section .group .taste h5 {
    font-size: 80px;
    font-family: 'Grand Hotel';
    color: #ffc200;
    margin-bottom: 50px;
}

section .group .taste p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 60px;
}

section .group .taste .btn-primary {
    background-color: #ffc200;
    border-color: #ffc200;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 20px;
    width: 300px;
    height: 60px;
}
.group_1 .box {
    border: 5px solid #ffffff;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-top: 100px;
    margin-bottom: 230px;
}

section .group_1 .txt h5 {
    font-size: 80px;
    font-family: 'Grand Hotel';
    color: #ffc200;
    margin-top: 200px;
    margin-bottom: 40px;
}

section .group_1 .txt p {
    font-size: 20px;
    color: #ffffff;

}

section .group_1 .box span {
    font-size: 50px;
    font-family: 'Montserrat';
    color: #ffc200;
}

section .group_1 .box h4 {
    font-size: 30px;
    font-family: 'Montserrat';
    color: #ffffff;
}
section .group_2 .taste h5 {
    font-size: 80px;
    font-family: 'Grand Hotel';
    color: #ffc200;
    margin-bottom: 50px;
}

section .group_2 .taste p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 60px;
}
section .group_2 .taste{
    margin-bottom: 218px;
    padding-bottom: 120px;
}

section .group_2 .taste .btn-primary {
    background-color: #ffc200;
    border-color: #ffc200;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 20px;
    width: 300px;
    height: 60px;
}
section .desigen p{
    font-size: 40px;
    color: #333333;
    margin-bottom: 60px;
}
section .desigen{
    background: url('../images/3562995_02.png')no-repeat center center;
    background-size: cover;
    padding-top: 270px;
    padding-bottom: 270px;

}
section .desigen h6{
font-size: 74px;
font-family: 'Grand Hotel';
color: #333333;
}
section .desigen_2{
    background: url('../images/bcolor_03.png')no-repeat center center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 300px;
}
section .desigen_2 h5{
    font-size: 100px;
    font-family: 'Grand Hotel';
    color: #333333;
    margin-bottom: 0;
}
section .desigen_2 p{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 80px;
}
section .desigen_2 input:focus{
    box-shadow: none;
}
section .desigen_2 button:focus{
    box-shadow: none;
}
section .desigen_2 input{
    font-size: 25px;
    border-radius: 0;
    
    border: none;
    height: 60px;
   
}
section .desigen_2 button{
    font-size: 25px;
    color: #333333;
    font-family: 'Montserrat';
    background-color: #ffc200;
    border: none;
    border-radius: 0;

}
footer{
    background-color: #303030;
}
footer h5{
    font-size: 25px;
    font-family: 'Montserrat';
    color: #ffffff;
    margin-bottom:40px;
}
footer p{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Montserrat Regular';
   
    margin-bottom: 30px;
}
footer .inp li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    transition: 250ms;
    
}
footer .inp li a:hover{
    color: #ffc200;
    
   
}
footer .inp li{
    margin-bottom:6px;
    
}
footer .icon li a{
    color: #303030;
    font-size: 30px;
    transition: 300ms;

}
footer .icon li:hover{
background-color: #ffc200;
}
footer .icon li{
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: 400ms;
}
.footer_box{
  padding-top: 250px;
  padding-bottom: 290px;
}
